/* BACKGROUND GLOBAL */
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3f/Fronalpstock_big.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25;
  filter: blur(17px);
  z-index: -1;
  pointer-events: none;
}

h1 {

  margin: 200px auto 10px;
  max-width: 800px;
  width: 100%;
  text-align: center;
  color: #ccc;

}

.description {
  margin: 73px auto 104px; /* auto = centré horizontalement */
  width: 100%;
  max-width: 800px; /* ajuste selon ton goût */
  font-size: 1.1rem;
  color: #ccc;
  line-height: 1.6;
  text-align: center;
  padding: 0;
}



.video-section {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
}

.video-section h2 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #fff;
}

.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.video-thumbnail {
  position: relative;
  cursor: pointer;
}

.video-thumbnail img {
  width: 100%;
  max-width: 760px; /* Limite la largeur max de l'image */
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px; /* taille du cercle */
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.play-button::before {
  content: '';
  display: block;
  margin-left: 3px; /* recentre un peu le triangle */
  border-style: solid;
  border-width: 18px 0 18px 28px; /* plus grand triangle */
  border-color: transparent transparent transparent white;
}

.play-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
  background-color: rgba(0, 0, 0, 0.8);
}
