/* BACKGROUND GLOBAL */
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3f/Fronalpstock_big.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25;
  filter: blur(17px);
  z-index: -1;
  pointer-events: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .presentation-container {
    grid-template-columns: 200px 1fr;
  }

  .skills-container {
    grid-template-columns: 200px 1fr;
  }

  .skill-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding-top: 120px;
  }

  .hero .portrait {
    width: auto;
    height: 80vh;
    margin-top: 0;
    object-fit: contain;
  }

  .hero .portfolio-bloc {
    position: absolute;
    top: 55%;
    right: 60px;
    transform: translateY(-50%);
  }
}
