

/* BACKGROUND GLOBAL */
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
}


.projet-page {
  max-width: 1400px;
  width: 100%;
  margin: 116px auto;
  padding: 60px 20px;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
}

h1, .description {
  width: 100%;
  margin-bottom: 30px; /* ← c’est ça qui ajoute l’espace */
  padding: 0;
  text-align: center;
}

.description {
  font-size: 1.1rem;
  color: #ccc;
  line-height: 1.6;
  max-width: 100%;
  margin-bottom: 50px;
}


.planches {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.planches img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.334);
}
