@import url("../css/style.css");

/* BACKGROUND GLOBAL */
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3f/Fronalpstock_big.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25;
  filter: blur(17px);
  z-index: -1;
  pointer-events: none;
}

.projet-page {
  max-width: 1300px;
  letter-spacing: 1.3px;
  width: 100%;
  margin: 0 auto;
  padding: 116px 20px;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  width: 100%;
  margin-top: 80px; /* ← espace au-dessus du titre */
  margin-bottom: 10px; /* ← petit espace avec la description */
  padding: 0;
  text-align: center;
}

.description {
  margin-top: 73px;
  width: 100%;
  font-size: 1.1rem;
  color: #ccc;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 104px;
  padding: 0;
}



.planches {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 87px;
}

.planches img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 3px 12px 16px 2px hsl(0deg 0% 0% / 49%);
}
